.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background: $main-color;


    &__brand{
        margin-left: 5px;
    }




    &__list{
        display: flex;
        justify-content: space-around;
        width: 60%;


        &__item{
            list-style-type: none;


            &--link{
                text-decoration: none;
                color: #fff;

                &:hover{
                    color: $text-color;
                }
            }
        }



        .btn{
            border: 1px solid #fff;
            padding: 12px 35px;
            border-radius: $btn-radius;
            -webkit-border-radius: $btn-radius;
            -moz-border-radius: $btn-radius;
            -ms-border-radius: $btn-radius;
            -o-border-radius: $btn-radius;
}
    }
}